*.*
!.gitignore
!Dockerfile
!circle.yml
!pom.xml
!*.md
!*.java
!*.json

!src/site/*.doxyfile
!src/site/*.css
!src/site/*.xml
!src/analysis/**/*.xml
!*.Rproj

src/test/graphlocation/
src/test/Amsterdam
src/test/Bucharest
src/test/Manhattan
src/test/Barcelona
src/test/Hannover
src/test/SiouxFalls
src/test/Manhattanbike
src/test/India
src/test/Egypt
src/test/GB
src/test/Austria
src/test/Brasil
src/test/France
src/test/South Korea
stc/test/Berlin
src/test/California
src/test/DC

target/
.Rproj.user

!results/heatmaps/*.png
!results/output data/*.json
!results/stats/images/*.png
