*.*
!.gitignore
!Dockerfile
!circle.yml
!pom.xml
!*.md
!*.java
!*.json

!src/site/*.doxyfile
!src/site/*.css
!src/site/*.xml
!src/analysis/**/*.xml

src/test/graphlocation/
src/test/Amsterdam
src/test/Bucharest
src/test/Manhattan

target/
